.admin-sidebar{
	color: $white;
    background-color:$indigo;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    top: 0;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(-226px, 0, 0);
    transform: translate3d(-226px, 0, 0);  
    &.adminUser{
	background-color:$black;
    }
    .NavinView{
    	position: absolute;
    	z-index: 1031;
    	width: 225px;
    	height: 100%;
    	padding-left: 0px;
	    padding-right: 0px;
	    overflow-x: hidden;
	    overflow-y: auto;
	    -webkit-transform: translate3d(0, 0, 0);
    	transform: translate3d(0, 0, 0);
    }
    + .admin-content{
    	padding: 30px;
    	position: relative;
		min-width: 500px;
    }
    .logoImg{
        padding: 10px;
    }
    .admin-profile{
        background-color: $cyan;
        padding: 10px;
        position: fixed;
        bottom: 0;
        width: 100%;
        button{
            background-color: transparent;
            border:none;
            cursor: pointer;
            display: flex;
            width: 100%;
            align-items: center;
            .profileImg{
                margin-right: 10px;
            }
            .usr-name{
                font-size: $font-base;
                color: $white;
                font-weight: 600;
                width: 121px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-align: left;
            }
            .caret{
                display: flex;
                align-items: flex-end;
                width: 25px;
                height: 25px;
            }
	    &:not(:disabled):not(.disabled){
		background-color:transparent !important;
		border-color:transparent !important;
		box-shadow:none !important;
	    }
        }
    }
    @include tablet-wide{
    	width: 225px;
    	height: 100%;
    	padding-left: 0px;
	    padding-right: 0px;
	    position: fixed;
	    overflow-x: hidden;
	    overflow-y: auto;
	    z-index: 1031;
	    -webkit-transform: translate3d(0, 0, 0);
    	transform: translate3d(0, 0, 0);
    	+ .admin-content{
		    margin-left: 225px;
		}
    }
}

#admin-nav{
    margin-top: 20px;
    margin-bottom: 60px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        &.nav-stacked{
            margin-top: 15px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            li{
                a{
                    padding: 0 15px 15px 15px;
                    display: block;
                    color: $white;
                    opacity: 0.5;
                    font-weight: 500;
                    outline: none;
                    @include anim(all, 0.3s, ease);
                    &.active{
                        opacity: 1;
                        @include anim(all, 0.3s, ease);
                    }
                    &:hover{
                        text-decoration: none;
                        opacity: 1;
                        @include anim(all, 0.3s, ease);
                    }
                }
            }
        }
    }
}
