//
// Variables
// --------------------------------------------------



$font-body-base:14px !default;

/* Font Size */
$font-base : 14px !default;
$font-11 : 11px !default;
$font-12 : 12px !default;
$font-13 : 13px !default;
$font-14 : 14px !default;
$font-15 : 15px !default;
$font-16 : 16px !default;
$font-18 : 18px !default;
$font-20 : 20px !default;
$font-22 : 22px !default;

/*$line-height-base: 1.625em !default;*/
/* COLORS */
// Body
$body-bg: #f8fafc;
// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$base-color: #F5F6F7;
$blue: #3490dc;
$indigo: #292c44;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f2671f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #1ea69a;
$white: #ffffff;
$black: #333;
$brand-color: #de8300;
$gray-color: #666;
$brand-color-light: #fedba8;
$brand-color-hover: #de6800;
$gray-lighter:#c2c2c2;
$gray-light:#e0e0e0;
$cyan-dark:#10897e;


